.dashBody {
  .grid {
    display: grid;
  }
  .winner_big {
    grid-template-columns: 1.2fr 2fr;

    .infobox {
      background-color: var(--yellow);
      color: var(--dark);
    }

    .logo {
      position: static;
      width: 100%;
      opacity: 0;
      max-width: 150px;
    }
  }

  .progres_circle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box_icon {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  svg {
    width: 70%;
    height: 90%;
    padding-bottom: 0;
  }
  .box_icon .percent {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    top: -1rem;
  }
  .box_icon .percent svg {
    position: relative;
  }
  .box_icon .percent svg circle {
    fill: none;
    stroke-width: 10;
    stroke: var(--soft-blue);
    transform: translate(5px, 5px);
    stroke-dashoffset: 440;
    stroke-dasharray: 440;
    stroke-linecap: round;
    transform: translate(5px, 145px) rotate(-90deg);
  }
  .box_icon .percent svg circle:nth-child(1) {
    stroke-dashoffset: 0;
  }
  .box_icon .percent svg circle:nth-child(2) {
    transition: 1s;
    stroke-dashoffset: calc(440px - (440px * var(--progress)) / 100);
    stroke: var(--purple);
  }
  .box_icon .percent .number {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--dark);
  }
  .number .head1 {
    text-align: center;
    font-size: 0.9rem;
  }
}
.dashBody {
  .number .win_number {
    font-size: 2rem;
  }
}

@media (min-width: 350px) {
  .dashBody {
    .number .win_number {
      font-size: 2.5rem;
    }
  }
}
@media (min-width: 500px) {
  .dashBody {
    .number .win_number {
      font-size: 3rem;
    }
  }
}
@media (min-width: 700px) {
  .dashBody {
    .number .win_number {
      font-size: 4rem;
    }
  }
}

@media (min-width: 800px) and (orientation: portrait) {
  .dashBody {
    svg {
      width: 60%;
      height: 70%;
    }
    .winner_big {
      grid-template-columns: 1fr 3fr;
    }
  }
}
@media (min-width: 800px) and (max-height: 1000px) and (orientation: portrait) {
  .dashBody {
    svg {
      width: 50%;
      height: 70%;
      padding-bottom: 0;
    }
  }
}

@media (min-width: 1400px) {
  .dashBody {
    .winner_big {
      grid-template-columns: 0.8fr 2fr;
    }

    .number .head1 {
      font-size: 1.1rem;
    }
    .number .win_number {
      font-size: 5rem;
    }
  }
}
